#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/trump.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: transparent;
  width: 40vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
}

.intro {
  position: absolute;
  top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vw;
  height: 20vh;
  height: 800px;
  color: #ffffff;
  font-size: 100%;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 70vh;
  width: 30vw;
  max-width: 300px;
  opacity: 1;
  background-color: transparent;
  border: 1px solid black;
}

.button span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.7px;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}
